@import url('https://clearvision.github.io/ClearVision-v7/main.css');
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --main-color: #FF838D;
  --hover-color: #1e63b3;
  --success-color: #F9A9D5;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --background-image: url('https://i.imgur.com/rEfQSeE.jpg');
  --background-shading: 95%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: scroll;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://i.imgur.com/gE72jNP.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.imgur.com/Mpmth4C.jpg');
  --home-position: bottom center;
  --home-size: 75px;
  --channel-unread: #FF838D;
  --channel-color: rgba(255,255,255,0.3);
  --muted-color: rgba(255,255,255,0.1);
  --online-color: #9EFF2C;
  --idle-color: #F2BD1D;
  --dnd-color: #FF3D3D;
  --streaming-color: #A774FF;
  --offline-color: #FFFFFF;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */
